.places {
    height: 200px;
    width: 100%;
    padding-top: 20px;
}

.places h1 {
    font-size: 30px;
    padding-left: 25px;
}

article {
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    width: 390px;
    text-align: center;
}

.booking {
    padding-left: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.booking article h2 {
    margin: 15px;
    font-size: 30px;
}

.price_by_night {
    display: flex;
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 30px;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 15px;
    padding: 10px;
}

.information {
    height: 80px;
    width: 90%;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
    justify-content: center;
    display: flex;
    margin: auto;
}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
    margin-top: 50px;
}

.description {
    text-align: left;
}